.p_body{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,253,205,1) 50%, rgba(252,176,69,1) 100%);
}
.main{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: space-evenly;
}
.child{
    margin: 50px;
    min-width: 350px;
    height: 400px;
    border: 1px solid black;
    border-radius: 20px;
    transition: all .4s ease;
    padding-top: 10px;
    text-align: center;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 49%, rgba(252,176,69,1) 100%);


}
.child:hover{
    transform: translate3D(0,-1px,0) scale(1.2);
    transition: all .4s ease;
    cursor: pointer;
    
}
img{
    border: 1px solid black;
    width: 330px;
    height: 250px;
    border-radius: 20px;
    background-color: aqua;
    
margin: auto;
display: block;
}

a{
    text-decoration: none;
    margin-top: 15px;
    font-size: 1.2rem;
    color: white;
}
center h1{
    font-size: 5rem;
}