.popup {
    z-index: 8;
    visibility: visible;
    position: fixed;
    width: 450px;
    height: 250px;
    background-color: aqua;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;

    transition: all 0.6s;

}
.popup_active.top_div{
    filter: blur(4px) brightness(0.8);
}
.popup_active.popup {
    opacity: 0;
    transition: all 0.6s;
    


    visibility: hidden;
    top: 20%;

}

/* popup content  */

.popup{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    color: black;
    background-color: #0002A1;
    
}

#popup_input,#popup_email{
width: 80%;
height: 27px;

}
#popup_submit{
    
    width: 100px;
    height: 25px;
}

.pop_child{
    margin: 10px;
    border-radius: 10px;
    font-size: 1.1rem;
    text-align: center;

}
#popup_close{
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 0px;

}
#popup_close:hover,#popup_submit:hover{
background-color: red;
color: white;
}
#popup_head{
    color: white;
    font-size: 1.3rem;
    }

    @media only screen and (max-width:600px){
        .popup {
            width: 350px;
          
        
        } 
    }